table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
.table-responsive {
    display: block;
    width: 1900px;
    overflow-x: auto;
}
.fixed-column {
    position: sticky;
    left: 0;
    background-color: white; /* Цвет фона, чтобы столбец был читаемым */
    z-index: 1; /* Чтобы столбец находился поверх других элементов */
}
